<html>
<head>
    <title>Textogotchi!</title>
</head>
<body>
    <h1>Name your newly adopted pal!</h1>
    <form action='/your_tamagotchi' method='post'>
        <label for='name'>Name thine spawn:</label>
        <input id='name' name='name' type='text'>

        <button type='submit'>birth them!</button>
    </form>
</body>
</html>
